body {
    background-color: floralwhite;
    line-height: 0.6em;
    width: 100vw;
}

@media only screen and (max-width: 673px) {
    #todayId {
        padding: 10px;
        grid-area: 1 / 1 / 3 / 7;
        width: 100vw;
        display: grid;
        grid-template-rows: auto auto auto auto auto auto auto auto;
        grid-template-columns: auto auto;
        gap: 10px;
    }
    
    #forecastId {
        padding: 10px;
        grid-area: 4 / 3 / 5 / 4;
        width: 100vw;
        display: grid;
        grid-template-rows: auto auto auto auto auto auto auto auto;
        grid-template-columns: auto auto;
        gap: 10px;
    }
    
    #forecastContent {
        grid-area: 1 / 2 / 9 / 3;
    }
}

@media only screen and (min-width: 674px) {
    #todayId {
        padding: 10px;
        grid-area: 2 / 1 / 5 / 4;
        width: 100vw;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: auto auto auto;
        gap: 10px;
    }

    #forecastId {
        padding: 10px;
        grid-area: 5 / 1 / 7 / 4;
        width: 100vw;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: auto auto auto;
        gap: 10px;
    }
    
}

