@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');



body {
    font-family: Helvetica;
    width: 100vw;
    padding: 0%;
}

hr {
    margin: 25px;
}

#headingId {
    background-color: lightsteelblue;

}

button {
    border: none;
    background-color: lightsalmon;
    margin: 5px;
}

h1 {
    font-family: 'Russo One', sans-serif;
}

h2,
h3,
h4,
p {
    font-size: smaller;
}


@media only screen and (max-width: 673px) {
    #wrapper {
        display: grid;
        grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto;
        grid-template-columns: auto auto auto auto auto auto;
        gap: 10px;
        width: 100vw;
        height: 100vh;
    }

    #headingId {

        grid-area: 1 / 1 / 4 / 7;
        padding: 17px;
    }

}

@media only screen and (min-width: 674px) {
    #wrapper {
        display: grid;
        grid-template-rows: auto auto auto auto auto auto;
        grid-template-columns: auto auto auto;
        gap: 10px;
        width: 100vw;
        height: 100vh;
    }

    #headingId {
        grid-area: 1 / 1 / 2 / 4;
        padding: 14px;
    }

}