@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

body {
    font-family: Helvetica;
}

h1 {
    font-family: 'Russo One', sans-serif;
}

@media only screen and (max-width: 673px) {
    body {
        background-color: aquamarine;
        line-height: normal;
    }

    #wrapper {
        display: grid;
        grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto ;
        grid-template-columns: auto auto auto auto auto auto;
        gap: 10px;
        width: 100vw;
        height: 100vh;
    }

    #headingId {
        grid-area: 1 / 1 / 4 / 7;
        background-color: salmon;
    }

    

    h2, h3, h4  {
        font-size: smaller;
    }

    p {
        font-size: smaller;
    }

    


}